.bid-list-container{
    padding: 20px;
}

ul.bid-list {
    padding: 0px;
    list-style: none;
    max-width: 300px;
    margin: auto;
}
.bid-list li{
margin-bottom: 20px;
}
.bid-list figure {
    padding: 10px;
    margin: 0;
    box-shadow: 0px 2px 3px 3px #ddd;
}
.bid-list figure:hover{
    cursor: pointer;
}
.text-center{
    text-align: center
}
.bid-customer{
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0px;
    text-transform: uppercase;
}
.price{
    font-size: 1em;
    font-weight: bold;
}